.bg-color {
    background-color: #222d32;
}

.margin {
    margin-top:150px;
}
html,body{
    height: 100%;
}
a,a:link,a:visited,a:hover,a:active {
    text-decoration: none;
}

* {
    margin:0;
    padding:0;
    list-style: none;
}

.aside {
    width: 180px;
    height: 100%;
    background-color: #222d32;
    position: absolute;
    top:0;
    left:0;
    transition: all 1s;
}
.aside.now {
    left:-180px;
}
.brand {

}
.brand a {
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    color:#fff;
    background-color: #367fa9;
}

.photo {
    margin:30px auto;
}
.photo img {
    display: block;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.photo p {
    font-size: 16px;
    line-height: 36px;
    text-align: center;
    color:#fff;
}

.aside .nav a {
    width: 100%;
    height: 40px;
    line-height: 40px;
    display: block;
    color:#fff;
    border-left:3px solid transparent;
    padding-left:40px;
}
.nav a.now {
    border-left:3px solid #069;
    background-color: #1d1f21;
}
.nav .second a {
    padding-left: 60px;
}
/*��������*/
.main {
    padding-left: 180px;
    width: 100%;
    height: 100%;
    transition: all 1s;
    /*background-color: pink;*/
}
.main .title {
    height: 50px;
    background-color: #3c8dbc;
    line-height: 50px;
    padding: 0 20px;
    margin-bottom: 20px;
}
.main.now {
    padding-left:0;
    /*transition:all*/
}
.main .title a {
    color:#fff;
    font-size: 22px;
}
.content .bar,
.content .pie {
    padding: 0 20px;
    margin-top:50px;
    width: 45%;
    height: 500px;
}
